<p>From view1: {{ message }}</p>

<p>
	First name: <input type="text" ng-model='firstname'> <br>
	Last name: <input type="text" ng-model='lastname'> <br>

	<button ng-click='loadView2()'>LoadView2</button>
</p>