<!doctype html>
<html lang="en" ng-app="testApp">
<head>
    <meta charset="utf-8">
    <title>Animations</title>
    <link rel="stylesheet" href="css/app.css"/>
    <style>
        /* Para ng-if */
        /*.my-animation-class.ng-enter{
            -webkit-transition: 0.5s linear all;
            -o-transition: 0.5s linear all;
            -moz-transition: 0.5s linear all;
            opacity: 0;
            background: green;
        }
        .my-animation-class.ng-enter.ng-enter-active{
            opacity: 1;
        }
        .my-animation-class.ng-leave{
             -webkit-transition: 0.5s linear all;
            -o-transition: 0.5s linear all;
            -moz-transition: 0.5s linear all;
        }
        .my-animation-class.ng-leave.ng-leave-active{
            opacity: 0;
        }*/
        /* para nh-show */
        /*.my-animation-class.ng-hide-remove{
            -webkit-transition: 0.5s linear all;
            -o-transition: 0.5s linear all;
            -moz-transition: 0.5s linear all;
            opacity: 0;
            background: green;
        }
        .my-animation-class.ng-hide-remove.ng-hide-remove-active{
            opacity: 1;
        }
        .my-animation-class.ng-hide-add{
             -webkit-transition: 0.5s linear all;
            -o-transition: 0.5s linear all;
            -moz-transition: 0.5s linear all;
        }
        .my-animation-class.ng-hide-add.ng-hide-add-active{
            opacity: 0;
        }*/
        /* animacion usando keyframes */
        /*
        .my-animation-class.ng-hide-remove{
            -webkit-animation: 0.5s fade-in;
            animation: 0.5s fade-in;
        }
        .my-animation-class.ng-hide-add{
            -webkit-animation: 2s fade-out;
            animation: 2s fade-out;
        }
        @keyframes fade-in{
            from { opacity:0; background: green;}
            to { opacity: 1; }
        }
        @-webkit-keyframes fade-in{
            from { opacity:0; background: green;}
            to { opacity: 1; }
        }
        @keyframes fade-out{
            from { opacity:1; }
            to { opacity: 0; }
        }
        @-webkit-keyframes fade-out{
            from { opacity:1; }
            to { opacity: 0; }
        }*/
        /* animacion usando ng-class y ngAnimate*/
        .my-animation-class-dos{
            height: 100px;
            width: 100px;
            background: green;
        }/*
        .my-animation-class-dos.growing-div-add{
            -webkit-transition-property: height, width;
            -webkit-transition-duration: 1s;
        }*/
        /*.my-animation-class-dos.growing-div{
            -webkit-transition-property: height, width;
            -webkit-transition-duration: 1s;
            width: 200px;
            height: 200px;
        }
        .my-animation-class-dos.growing-div-add-active{
            width: 200px;
            height: 200px;
        }*/

        /* animacion desde la directiva */
        .my-animation-class-tres{
            -webkit-animation-duration: 1s;
            animation-duration: 1s;
            -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
        }

        .my-animation-class-tres.shake{
            -webkit-animation-name: shake;
            animation-name: shake;
        }

        @-webkit-keyframes shake{
            0%, 100% {-webkit-transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10);}
            20%, 40%, 60%, 80% {-webkit-transform: translateX(10);}
        }

        @keyframes shake{
            from { opacity:1; }
            to { opacity: 0; }
            0%, 100% {transform: translateX(0);}
            10%, 30%, 50%, 70%, 90% {transform: translateX(-10);}
            20%, 40%, 60%, 80% {transform: translateX(10);}
        }
    </style>
</head>
<body>
    <div ng-init="isShow=true">
        <input type="checkbox" ng-model="isShow">Show
        <div class="my-animation-class" ng-if="isShow">
            <h3>Enter\Leave Animation</h3>
        </div>
    </div>

    <div class="my-animation-class-dos" ng-class="{'growing-div':grow}" ng-mouseover="grow=true" ng-mouseout="grow=false"></div>

    <div shake-div></div>
    
</body>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>

    <script src="js/app.js"></script>
    <script src='js/animations.js'></script>
    <script src='js/directives.js'></script>
</html>
