<!DOCTYPE html>
<html lang="en" ng-app>
<head>
	<meta charset="UTF-8">
	<title>Two way data binding</title>
</head>
<body ng-init="fbID='sandeep.panda92'" >
	<input type="text" ng-model="fbID" />
	<br/>
	<span>
		<img ng-src="https://graph.facebook.com/{{fbID}}/picture?type=normal">
	</span>

	<script src="lib/angular/angular.js"></script>
</body>
</html>