<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Using directives of Angular</title>
</head>
<body ng-controller="someController">
	<input type="text" ng-model="message" placeholder="Enter message">
	<!--div hello-world></div--><!-- para trabajar sin limitar el scope -->
	<!--div hello-world message-attr="{{ message }}"></div--><!-- para trabajar con @ -->
	<div hello-world message-attr="message" show-message-attr="showMessage(arg)"><!-- para trabajar con = -->
		<!-- Todo esto se pone detro de ng-transclude porque la opcion esa esta en true-->
		<p>Hola desde transclude: {{ message }}</p>
	</div>
</body>
	<script src='lib/angular/angular.js'></script>
	<script src='lib/angular/angular-ui-router.js'></script>
	<script src='lib/angular/angular-resource.js'></script>
	<script src='js/app.js'></script>
	<script src='js/controllers.js'></script>
	<script src='js/services.js'></script>
	<script src='js/directives.js'></script>
</html>