<!doctype html>
<html lang="en" ng-app="mainApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="greetingController">

    {{greeting}} User! The current date/time is <span>{{ now | date:'medium' }}</span>
    <br>
    <button ng-click="getRandomGreeting()">Cambiar mensaje</button>


    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>

    <script src="js/app.js"></script>
    <script src="modules/login/loginModule.js"></script>
    <script src="modules/login/js/controllers.js"></script>
    <script src="modules/login/js/directives.js"></script>
    <script src="modules/comment/commentModule.js"></script>
    <script src="modules/comment/js/controllers.js"></script>
    <script src="modules/comment/js/directives.js"></script>
</body>
</html>
