<!doctype html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="utf-8">
    <title>My AngularJS App</title>
    <link rel="stylesheet" href="css/app.css"/>
</head>
<body>

    <div ng-controller="MainController">
        <input type="button" ng-click="getAsyncMessage()" value="Get async message">
        <input type="button" ng-click="cancelRequested=true" value="Cancel fetching message">
        Promise status  - {{ status }}
    </div>

    <div ng-controller="weatherController">
        City:
        <input type="text" ng-model="city" placeholder="Enter city name here">
        Country:
        <input type="text" ng-model="country" placeholder="Enter country name here">
        <button ng-click="getWeather()">Get weather</button>
        <br>
        <br>
        <b>Weather condition:</b> <span>{{ weatherDescription }}</span>
    </div>

    <script src="lib/angular/angular.js"></script>
    <script src='lib/angular/angular-ui-router.js'></script>
    <script src='lib/angular/angular-resource.js'></script>

    <script src="js/app.js"></script>
    <script src='js/controllers.js'></script>
    <script src='js/services.js'></script>
</body>
</html>
