<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body ng-controller='SiteController'>
	<span>{{ publisher }} excels in {{ type }}</span>

	<!-- herencia de scopes y watchers -->
	<div ng-controller='BookController'>
		<h3>Some of the popular books from {{ publisher }}</h3>
		My wish List Count: {{ wishListCount }}
		<ul>
			<li ng-repeat="book in books">
				{{ book }}. <a href="#" ng-click='addToWishList(book)'>Add to wish list</a>
			</li>
		</ul>
	</div>
	
	<!-- $apply -->
	<div ng-controller="TimeoutController">
		<button ng-click="fetchMessage()">Get message after 3 seconds</button>
		<br>Message fetched: {{ message }}
	</div>

	<!-- events -->
	<div ng-controller='MessageController'>
		<h4>Messages:</h4>
		<ul>
			<li ng-repeat='message in messages'>
				{{ message.text }}
			</li>
		</ul>
		<div ng-controller='StatsController'>
			<h4>Stats:</h4>
			<div>{{ messages.length }} Message(s)</div>
			<div>Status: <span style='color:{{ statusColor }};'>{{ status }}</span></div>
		</div>
	</div>
</body>
	<script src='lib/angular/angular.js'></script>
	<script src='js/app.js'></script>
	<script src='js/controllers.js'></script>
</html>