<!DOCTYPE html>
<html lang="en" ng-app='myApp'>
<head>
	<meta charset="UTF-8">
	<title>Form validation</title>
	<link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="UserController">
	<form name="myForm" novalidate>
		First Name:
		<input type="text" name="firstname" ng-model="user.firstname" ng-required="true" ng-minlength="2">
		<span class="error-message" ng-show="myForm.firstname.$dirty && myForm.firstname.$error.required">
			The First Name is Mandatory
		</span>
		<span class="error-message" ng-show="myForm.firstname.$dirty && myForm.firstname.$error.minlength">
			The First Name should be minimum 2 characters
		</span>
		<br>
		
		Last Name:
		<input type="text" name="lastname" ng-model="user.lastname" ng-required="true" ng-minlength="2">
		<span class="error-message" ng-show="myForm.lastname.$dirty && myForm.lastname.$error.required">
			The Last Name is Mandatory
		</span>
		<span class="error-message" ng-show="myForm.lastname.$dirty && myForm.lastname.$error.minlength">
			The Last Name should be minimum 2 charactes
		</span>
		<br>

		Phone No.:
		<input type="text" name="phoneNumber" ng-model="user.phoneNumber" ng-maxlength="10" ng-minlength="10" ng-pattern="/^\d{10}$/">
		<span class="error-message" ng-show="myForm.phoneNumber.$dirty && myForm.phoneNumber.$invalid">
			The phone number field should be of 10 digits
		</span>
		<br>
	</form>
	
</body>
	<script src='lib/angular/angular.js'></script>	
	<script src='lib/angular/angular-ui-router.js'></script>
	<script src='js/app.js'></script>
	<script src='js/controllers.js'></script>
	<script src='js/services.js'></script>
</html>